# Dependencies
node_modules/

# Build output
dist/

# Env
.env
.env.*

# Editor
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Debug
npm-debug.log*
yarn-error.log*

# Testing
coverage/
